{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="apj">
      <img src="{% static 'images/apj.png' %}" alt="">
    </div>
    <div class="apj-text">
        <p>APJ ABDUL KALAM</p>
        <p class="p2">1931-2015</p>
    </div>
    <div class="apj-para">
        <h1>MISSILE MAN OF INDIA</h1>
<p class="para1">
    After graduating from Madras Institute of Technology with a degree in aeronautical engineering, Kalam joined the Defence Research and Development Organisation (DRDO) in 1958. He joined the Indian Space Research Organisation in 1969 as project director of the SLV-III, the country’s first satellite launch vehicle. When he returned to the DRDO in 1982, he oversaw a programme that resulted in a number of successful missiles, earning him the moniker Missile Man.
    
    From 1992 to 1997, Kalam was the defence minister’s scientific adviser, and from 1999 to 2001, he was the government’s principal scientific adviser with the title of cabinet minister. Although the tests raised worldwide alarm, Kalam’s important role in the country’s 1998 nuclear weapons testing cemented India’s status as a nuclear power and elevated him as a national hero. In 1998, Kalam proposed Technology Vision 2020, a statewide strategy that he described as a road map for converting India from a developing to a developed society in 20 years. Increasing agricultural productivity, prioritising technology as an engine for economic growth, and expanding access to health care and education were among the goals outlined in the plan.
    
    Kalam was nominated by India’s ruling National Democratic Alliance (NDA) to succeed outgoing President Kocheril Raman Narayanan in 2002. Despite being Muslim, Kalam was nominated by the Hindu nationalist (Hindutva) NDA, and his status and popularity were such that the Indian National Congress, the main opposition party, also proposed his candidacy. Kalam easily won the election, and in July 2002, he was sworn in as India’s 11th president, a purely ceremonial position. He was succeeded by Pratibha Patil, the country’s first female president, when his term expired in 2007.</p>
    </div>
    <div class="bio">
        <h2>BIOGRAPHIES</h2>
        <ul>
            <li>eternal quest:life and times of dr kalam by s.chandra;pentagon publishers,2002</li>
            <li>president a p j abdul kalam  by  r k pruthi;anmol publications,2002</li>
            <li>a p j abdul kalam the  visionary of india by k bhushan,g katyal;a p h pub corp ,2002</li>
            <li>the kalam effect:my years with the president by p m nair;novel corporation,2008</li>
            <li>my days with mahatma abdul kalam by fr ak george;novel corporation,2009</li>
            <li>apj abdul kalam president: dr apj abdul kalam by sm khan;bloomsbury publishing,2016</li>
        </ul>
    </div>
</body>
</html>